<!doctype html>
<html>
  <head>
  	<title>RemoteControl</title>
  	<link rel="stylesheet" href="css/bootstrap.css">
  	<link rel="stylesheet" href="css/style.css">
  </head>
  <body ng-app="rmtCtrlApp" ng-controller="PlayerCtrl">
  	<h1>Let's build a Remote Control for an Audio Player</h1>

  	<div id="player">

  		<div id="player-controls">
  			<span>Previous</span> |
  			<span>Play/Pause</span> |
  			<span>Next</span>
  		</div>

  		<div id="progress-indicator">
  			<span class="ctrl">================[]=======</span> |
  			<span class="time">01:45</span>
  		</div>

  		<div id="volume">
  			<span class="ctrl">================[]=======</span> |
  			<span class="mute">Mute</span>
  		</div>

	  	<div id="playlist">
        <div id="playlist-controls">
          <span>Shuffle</span> |
          <span>Repeat</span> |
          <span>Empty</span>
        </div>
        <table>
          <tr ng-repeat="item in playlist">
            <td class="item">{{item.artist}} - {{item.title}}</td>
            <td class="length">{{item.length}}</td>
          </tr>
        </table>
	  	</div>

  	</div><!-- #player -->

    <div id="browser">
      <table>
        <tr>
          <th class="filename">Filename</td>
          <th class="artist">Artist</td>
          <th class="title">Title</td>
          <th class="add-to-pl"></td>
          <th class="play"></td>
        </tr>
        <tr ng-repeat="file in filelist">
          <td class="filename">{{file.uri | extractFileName}}</td>
          <td class="artist">{{file.artist}}</td>
          <td class="title">{{file.title}}</td>
          <td class="add-to-pl">[+]</td>
          <td class="play">[>]</td>
        </tr>
      </table>
    </div>

    <script src="bower_components/lodash/dist/lodash.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

	  <script src="js/lib/Player.js"></script>
    <script src="js/player-app/app.js"></script>
	  <script src="js/player-app/controllers.js"></script>
    <script src="js/player-app/services.js"></script>
    <script src="js/player-app/filters.js"></script>

  </body>
</html>

